header {width: 100%; padding: 0 2.5%;}
header img {height: 36px;}
.place-list-wrap {width: 95%; margin: 0 auto;}
.place-list-wrap .place-list {color: #404040; border: 1px solid #e0e0e0; border-radius: 4px; padding: 20px; margin-bottom: 20px;}
.place-list-wrap .place-list .place-name {font-weight: 600; font-size: 18px;}